.home-btn-a{
    padding: 10px 20px;
    border: 1px solid blue;
    color: #FFFF;
    background: blue;
    border-radius: 3px ;
}
.home-btn-b{
    border-radius: 3px ;
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid red;
    color: #FFFF;
    background: red;
}
.home-btn{
    border-radius: 3px ;
    padding: 20px 40px;
    background-color: blue;
    color: #FFFF;
}
.home-input-a{
    width: 350px;
    margin-left: 5px;
}
.home-input-b{
    width: 350px;
    margin-left: 10px;
}
.home-input-c{
    margin-left: 24px;
    width: 350px;
}
.home-btn-d{
    width: 350px;
    margin-left: 79px;
    background-color: blue;
    color: #FFFF;
}